.weather-container {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-left {
    width: 30%;
}

.weather-icon {
    width: 100%;
}

.container-right {
    width: 55%;
    // text-align: center;
}

.weather-temp-main {
    font-weight: bold;
}

.paragraph {
}
